# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/output.docx
/public/output.docx

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
output.docx
updater/udapp
updater/udapp.zip
updater/node_modules
updater/patients.db
updater/diagnostics.db
updater/settings.db
updater/installed.txt
updater/updater-linux
updater/updater-macos
updater/updater-win.exe